{% extends "home.html" %}
{% load static %}
{% block title %}
<title>Eshop | Forget Password Page</title>
{% endblock %}     
{% block content %}
<div class="container-fluid mt-3">
    <div class="row my-3">
        <div class="col-md-2 col-1"></div>
        <div class="col-md-8 col-10"></div>
        <h5 class="bg-primary text-white text-center">Forget Password Section</h5>
        {% for i in messages %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
             {{i}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %} 
        <form method="post" action="">
            {% csrf_token %} 
             <div class="mb-3">
                <label class="form-label">OTP</label>
                <input type="number" class="form-control text-center" name="otp" placeholder="Enter OTP which send on ypur email address">
             </div>
             <button type="submit" class="btn btn-primary w-100">Submit OTP</button>
        </form>
     </div>
     <div class="col-md-2 col-1"></div>
  </div>
</div>

{% endblock %}