{% extends 'home.html'%}
{% block title %}
<title> Eshop | shop </title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-12">
            <div class="list-group">
                <h5 class="background rounded text-white p-1 m-2">Maincategory</h5>
                <a href="/shop/All/{{sc}}/{{br}}/" class="list-group-item list-group-item-action">All</a>
                {% for i in maincategory %}
                <a href="/shop/{{i.name}}/{{sc}}/{{br}}/" class="list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}  
            </div>
            <div class="list-group">
                <h5 class="background rounded text-white p-1 m-2">Subcategory</h5>
                <a href="/shop/{{mc}}/All/{{br}}/" class="list-group-item list-group-item-action">All</a>
                {% for i in subcategory %}
                <a href="/shop/{{mc}}/{{i.name}}/{{br}}/" class="list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}  
            </div>  
            <div class="list-group">
                <h5 class="background rounded text-white p-1 m-2">Brand</h5>
                <a href="/shop/{{mc}}/{{sc}}/All/" class="list-group-item list-group-item-action">All</a>
                {% for i in brand %}
                <a href="/shop/{{mc}}/{{sc}}/{{i.name}}/" class="list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}  
            </div>  
        </div>
               
        <div class="col-lg-10 col-md-9 col-sm-6 col-12">
            <h5 class="background text-light  text-center p-2 my-1">Latest Product</h5>
        
        <div class="row">
            {% for i in data %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-2">
                  <div class="card">
                    <img src="{{i.pic1.url}}" height="300" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                        <p class="card-text">Discount {{i.discount}} %</p>
                        <p class="card-text">&#8377;<del>{{i.baseprice}}</del><sub>{{i.finalprice}}</sub></p>
                        <p class="card-text">{{i.color}} {{i.size}}</p>
                        <a href="/single/{{i.id}}" class="btn btn-primary btn-sm w-100">Add to cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}